body {
  font-family: 'Press Start 2P', cursive;
  margin:0px;
  padding:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}


.invisiText {
  position:absolute;
  opacity:0;
  cursor: default;
  user-select: none;
  top:-1000px;
}
