body {
  font-family: 'Press Start 2P', cursive;
  margin:0px;
  padding:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}


.invisiText {
  display: none;
  position:absolute;
  opacity:0;
  cursor: default;
  user-select: none;
  top:-1000px;
}

.log {
  position: absolute;
  top:70px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log2 {
  height:200px;
}

.instro {
  padding-top:50px;
  color:white;
  width:300px;
  text-align: center;
}
